
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.firstnav{
   background-color:  rgb(4 4 62);
}
#logo{
    font-weight: bold;
    color: white;
    font-family: cursive;
    margin: 0px;
    font-size: 33px;
    text-align: center;
    padding-top: 30px;
}
.sign-up-div{
    text-align: center;
    padding-top: 27px;
}
#sign_btn{
    background: white;
    border: none;
    padding: 13px 29px;
    font-weight: 670;
    border-radius: 6px;
}
.secondmain_div{
    background-color:rgb(4 4 62);
    height: 103px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
}


#text{
    color: #90b3da;
    font-size: 2.2vw;
    margin: 0%;
    font-variant: small-caps;
    margin-left: 25px;
}

.nav-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.form-control{
    max-width: 390px;
}
.check{
    height: 40px;
}
.search-btn{
    height: 40px;
    width: 92px;
}

.h4{  
    text-align: center;
}
.img{
    height: 243px;
    width: 21rem;  
}
.type{
    text-align: center;
    margin-top: 1.5rem;
}

/* ////////// */
#house_models{
    width: 100%;
    height: 410px;
    background-color:white
}
/* #model{
    width: 411px;
    height: 380px;
    float: left;
    background-color: white;
} */

#mode_pic1{
    width: 300px;
    height: 222px;
    /* margin-left: 70px; */
}
/* #model2{
    width: 411px;
    height: 380px;
    float: left;
    background-color: white
} */
/* #model3{
    width: 413px;
    height: 380px;
    float: left;
    background-color: white
} */


#first_foot{
    width: 100%px;
    height: 214px;
    background-color:rgb(79, 79, 98);
}
#footer_table{
    margin-left: 78px;
    margin-top: 35px
}
#grow{
    width: 230px;
    margin-left: 721px;
    margin-top: -115px;
}

