{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body>
    <div class="social"><h2 id="hh">contact Us  987687 87766</h2></div>
    <!-- <div class="box"></div>
    <div class="box"></div> -->
    <!-- <div id="main">
        <div id="grid1">boxA</div>
        <div id="grid2">BOXb</div>
        <div id="grid2">box c</div>
    </div> -->
    <!-- <div id="big">
        <div id="boxA">hello</div>
        <div id="boxB">hello</div>
        <div id="boxC">hello</div>
    </div> -->
    <div id="big1">
        <div id="boxAA">hello</div>
        <div id="boxBB">hello2</div>
        <div id="boxCC">hello3</div>
    </div>
    
</body>
</html>