{% extends 'owners/navbar.html' %}
{% load static %}
{% block add %}
 
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


<!-- //// -->
<div class="col-md-9">
<h3 id="text" class="h3">List your property and start welcoming guests</h3>
    <div class="container">
        <div class="row">
<div class="col-md-4 pt-5">
    <div class="card">
        <img class="card-img-top" src="{% static 'images/Taupe-sofa.jpg' %}" alt="Card image cap">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Apartments</h5>
          <a href="addapart" class="btn btn-dark">Add aprtments</a>
        </div>
      </div>
</div>
<div class="col-md-4 pt-5">
    <div class="card">
        <img class="card-img-top" src="{% static 'images/hotel.jpg' %}" alt="Card image cap">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Hotel</h5>
          <a href="#" class="btn btn-dark">Add hotels</a>
        </div>
      </div>
</div>    
<div class="col-md-4 pt-5">
    <div class="card">
        <img class="card-img-top" src="{% static 'images/Taupe-sofa.jpg' %}" alt="Card image cap">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title">Home</h5>
          <a href="#" class="btn btn-dark">Add home</a>
        </div>
      </div>
</div>    


</div>
</div>
</div>
{% endblock %}

 



