{% extends 'owners/navbar.html' %}
{% load static %}
{% block add %}
<div class="container col-md-9">
    <p class="mt-5"><em>your Listed properties are shown below</em></p>
<table id="my_p_table" class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Property name</th>
            <th scope="col">Address</th>
            <th scope="col">Landmark</th>
            <th scope="col">Pincode</th>
          </tr>
        </thead>
      </table>
      </div>
<!-- //script/// -->
<script>
function listed_prop(){
  $.ajax({
    url : 'list_prop',
    type : 'GET',
    success : function(response){
      data = response.display
      $('.tbl_dsn').remove()
      for(i=0;i<=data.length;i++){
        $('#my_p_table').append('<tr class="tbl_dsn"><td>'+ data[i].v +'</td><td>'+ data[i].v1 +'</td><td>'+ data[i].v2 +'</td><td>'+ data[i].v3 +'</td><td>'+ data[i].v4 +'</td></tr>')  
      }

    }

  })
}

</script>



{% endblock %}