{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #bg{
            background-image: url("{% static 'images/pexels-photo-157118.jpeg' %}")
            
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/loginpage.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body id="bg" style="background-color: rgb(21, 34, 68);"> 
   
    <h1 class="class">House Broker</h1>
    <div style=" margin-left: 461px;
    margin-top: 80px">
        <form action="" method="post">
            {% csrf_token %}
            <h6 style="color: white;">Email Address or phone number</h6>
            <input class="email" type="text" name="l_email" >
            <br><br><br>
            <h6 style="color: white;">password</h6>
            <input class="email" type="password" name="l_psd"><br>
            <!-- <a id="forgot" href="">forgot password ?.</a>/ -->
            <p>{{err}}</p>
            <p>{{errr}}</p>

            <br>
            
    
            <input id="button" type="submit" value="sign In">


        </form>
    </div>
</body>

</html>