{% extends 'owners/navbar.html' %}
{% load static %}
{% block add %}
<div class="container col-md-9">
<!-- <div class="container"> -->

    <p class="mt-5"><em>You can update or delete your listed properties </em></p>
<table id="my_p_table" class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Property name</th>
            <th scope="col">Address</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <th scope="row">1</th>
            <td>Mark</td> -->
          
          </tr>
          <tr>
            <!-- <th scope="row">2</th>
            <td>Jacob</td>
           -->
          </tr>
          <tr>
            <!-- <th scope="row">3</th> -->
          
          </tr>
        </tbody>
      </table>
      </div>
<!-- </div> -->




{% endblock %}