{% extends 'users/master.html' %}
{% load static %}
{% block add %}
<div id="rg-bg" class="row">
<div class="col-md-4">
    <h3 id="rg-text">Grow your bussiness with us</h3>
</div>
<!-- // -->
<div id="rg-form" class="col-md-8">
    <div class="container">
        <form method="post">
          {% csrf_token %}
      
          <input id="f_n_v" type="text" class="form-control col-md-12" placeholder="full Name" name="r_name">
          <p id="full_n_v" style="color: red;"></p>


        <br>
        <input id="p_n_v" type="number" class="form-control col-md-12" placeholder="Phone Number" name="r_phn">
        <p id="ph_nm_v" style="color: red;"></p>

     <br>
       
          <input id="e_a_v" type="email" class="form-control col-md-12" placeholder="email address" name="r_email">
          <p id="em_addrs_v" style="color: red;"></p>

        <br>
     
      <div class="row">
        <div class="col">
          <input id="p_v" type="password" class="form-control" placeholder="password" name="r_psd">
          <p id="pass_v" style="color: red;"></p>

        </div>
        <div class="col">
          <input id="r_p_v" type="password" class="form-control" placeholder="confirm password">
          <p id="re_p_v" style="color: red;"></p>

        </div>
        </div>
  <br>
  <div class="d-grid gap-2">
    <!-- <button onclick="return rg_validation()"type="submit" class="btn btn-secondary">CONTINUE</button> -->
 <input type="submit" onclick="rg_validation()" class="btn btn-secondary">
  </div>
  </form>
  <center>
    <br>
    <h2>{{msg}}</h2>

  </center>
</div>
</div>
  </div>
  <!-- /// -->
  
<!-- //// -->
<script>
  function rg_validation(){
    status = 1

    full_name= document.getElementById("f_n_v").value
  
    phn_v = document.getElementById("p_n_v").value
    email_address_v = document.getElementById("e_a_v").value
    password_v = document.getElementById("p_v").value
    reenter_v = document.getElementById("r_p_v").value
    // console.log(first_name)
    if(full_name == ''){
               document.getElementById("full_n_v").innerHTML="please fill your email address"
               status = 0

            }
            else{
                document.getElementById("full_n_v").innerHTML=""

            }
            
            if(phn_v == ""){
              document.getElementById("ph_nm_v").innerHTML="fill a valid phone number"
              status = 0

            }
            else{
              document.getElementById("ph_nm_v").innerHTML=""
            }
            if(email_address_v == ""){
              document.getElementById("em_addrs_v").innerHTML="fill valid email address"
              status = 0

            }
            else{
              document.getElementById("em_addrs_v").innerHTML=""
            }
            if(password_v == ""){
              document.getElementById("pass_v").innerHTML="Enter your password"
              status = 0

            }
            else{
              document.getElementById("pass_v").innerHTML=""
            }
            if(password_v == reenter_v){
              document.getElementById("re_p_v").innerHTML=""

              status = 0
            }
            else{
              document.getElementById("re_p_v").innerHTML="password is incorrect"
            }
         
            if (status == 0){
return false
}            
  }
</script>
            {% endblock %}
 