{% extends 'houseadmin/admin_master.html' %}
{% load static %}
{% block add %}
<section class="col-md-8 bg-dark">
    <div class="cntainer bg-light">
<p id="request_text" class="h1">Owners request
</p>
<table id="request_table" class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Owner Name</th>
        <th scope="col">Phone number</th>
        <th scope="col">Email address</th>
        <!-- <th scope="col"></th> -->
        <th colspan="2" scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for i in viewreq %}
      <form action="" method="POST">
        {% csrf_token %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.owner_name}}</td>
        <td>{{i.owner_phn}}</td>
        <td>{{i.owner_email}}</td>
        <td> <button class="btn btn-success" type="submit" name="accept">Accept</button></td>
        <td><button class="btn btn-danger" type="submit" name="reject">Reject</button></td>
    <th><input type="hidden" name="id" value="{{i.id}}" id=""></th>

      </tr> 
    </form>
    {% endfor %} 
    </tbody>
  </table>
</div>
</section>
{% endblock %}
