{% extends 'houseadmin/admin_master.html' %}
{% load static %}
{% block add %}

<style>
  h1{
  font-family: 'Times New Roman', Times, serif;
    /* background: #121FCF;  */
    background: -webkit-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: -moz-linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 100px;
    font-weight: bolder;
    margin-bottom: 30px;
    font-size: 80px;
  }
  p{
      font-size: large;
      text-align: center;
  }

  
</style>

<section class="col-md-8 bg-light">
<h1 class="text-center">Welcome, {{prof.name|capfirst}} </h1>
<i><p> "if you really give someone a comfort space, they will always search for it later " </p></i>
</section>
<!-- //// -->
<!-- <section class="col-md-8 bg-light">
  <p class="fs-1 fw-bold text-center">Owners info</p>
  <table id="table_1" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@fat</td>

      </tr>
    </tbody>
  </table>
</section> -->

{% endblock %}