{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/intel.css'%}">
    <style>
  p{
      color: blanchedalmond;
      background-color: aqua;
  }
    </style>
</head>
<body>
    <h1 id="kate">leo</h1>
    <h3 class="june">aany</h3>
    <p style="color:red ;background-color:blue">iam nabeel</p>
    <p style="color:red ;background-color:blue">nabeel</p>
    <p class="june">intel</p>
    <p>lenovo</p>
    <img src="{% static 'images/pic.jpg' %}" >
    <a href="face">connectoio</a>
    <h2>avatar the</h2>
    <input type="text">
    <input type="password">
    <p class="oo">sam leo</p>
    <p class="oo">carry </p>
    <p>jimmy</p>
</body>
</html>