{% extends 'houseadmin/admin_master.html'%}
{% load static %}
{% block add %}
<div class="container col-md-8">
    <p class="mt-5"><em>your Listed properties are shown below</em></p>
<table id="my_p_table" class="table table-success table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">phone number</th>
            <th scope="col">message</th>
            <th scope="col">Delete</th>


          </tr>
        </thead>
       
      </table>
      </div>







{% endblock %}