p{
    color: brown;
    background-color: bisque;
}

p,h1,h3{
    color: black;
    
}
input[type="text"]{
    color: rgb(114, 114, 215);
}
input[type="password"]{
    color: yellow;
}
p.oo{
    color: brown;
} 
 #pic{
 background-image: url('../images/pic.jpg');
 background-color: brown;

}
