body, html{
    margin: 0%;
    padding: 0%;
}

.dashboard{
    background: #efefef;
    /* width: 287px; */
    height: 100%;
    padding-top: 78px;
   

}

.dashboard .dash-links li{
    height: 50px;
    background-color: rgb(209 216 223);
    list-style: none;
    width: 100%;
    border: 3px solid rgb(254, 254, 254);
   
}
.dashboard .dash-links li a{
display: flex;
align-items: center;
height: 100%;
width: 100%;
text-decoration: none;
transition: all 0.5s ease;

}
.dashboard .dash-links li a i{
    color: #070437;
    min-width: 50px;
    text-align: center;
    font-size: 30px;

}
.dashboard .dash-links li a .dash-font{
    color: #211d1d;
    font-size: 19px;

}
.dashboard .dash-links li a:hover{
    background: rgb(148, 148, 222);
}
/* ////---/// */
#text{
    display: flex;
    padding-left: 73px;
    margin-top: 20px;
}