{% extends 'users/master.html' %}
{% load static %}
{% block add %}
   
   <section class="container">
        <div class="row justify-content-around">
            <div class="col-6 col-sm-12 col-lg-6 bg-light border border-dark m-4">
                <div class="container border-bottom border-danger pt-4">
                    <h4>Enter your details Here<span class="badge text-bg-danger"><h6>we will use this information to share your booking information</h6></span></h4>
                </div>
                <br>
                <div class="container">
                    <form>
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label for="">First name</label>
                            <input type="text" class="form-control" id="" placeholder="First name">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="">Last name</label>
                            <input type="text" class="form-control" id="" placeholder="Last name">
                          </div>
                        </div><br><br>
                        <div class="row">
                            <div class="form-group col-md-6">
                              <label for="">Email</label>
                              <input type="email" class="form-control" id="" placeholder="Email address">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="">Mobile number</label>
                              <input type="number" class="form-control" id="" placeholder="">
                            </div>
                          </div><br> <br>  
                          <div class="d-grid gap-2">
                          <button type="button" class="btn btn-outline-success "><h4>Book your Room</h4></button>
                        </div>                     

                      </form>
                      <br><br>
                </div>
            </div>
            <section class="col-4 col-sm-12 col-lg-4">
            <div class="container mt-4 text-danger"><h4 style="text-align: center;">Your package</h4></div><hr>
          <!-- <div class="bg-light"> -->
              <h3 id="book_name">Royal casino near athirapalli vazhachal kannur</h3><HR></HR>
            <div class="row">
              <div class="col-6"><input class="datedisn" type="date"></div>
              <div class="col-6"><input class="datedisn" type="date"></div>
            </div><br>
            <div class="row">
              <div class="col-4"><h5>OVEROLL   :</h5></div>
              <div class="col-8"><H5>1 ROOM,3 GUESTS</H5></div>
            </div>
            <br>
            <hr>
            <div class="row">
              <div class="col-6"><h6>Amount to be paid -:</h6></div>
              <div class="col-6"><h2>1099</h2></div>
            </div>
       <!-- </div> -->

              </section>
          </div>
          </section>
    <!-- </section> -->
    <!-- <section class="col-md-4 bg-info bg-primary">
j
    </section> -->
   

    {% endblock %}
