{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/loginpage.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  
</head>

<body id="bg">

    <h1 class="class">House Broker</h1>
    <div id="form-div">
        <form action="">
            <h6 class="text-design">Email Address or phone number</h6>
            <input id="eml" class="email" type="text">
            <p id="b1" style="color: red;"></p>
            <!-- <br> -->
            <br>
            <h6 class="text-design">password</h6>
            <input id="psd" class="email" type="password">
            <p style="color: red;" id="b2"></p>
            <!-- <br> -->
            <a id="forgot" href="">forgot password ?</a>
            <button onclick="return validation()" id="button" >sign In</button>
        </form>        

    </div>
    <br>
    <a id="already" href="logincreation"><h5>Create a new account ?.</h5></a>

    <script>
        function validation(){
            status=1
            email = document.getElementById("eml").value
            console.log(email)
            password = document.getElementById("psd").value
           console.log(email)
            if(email == ''){
               document.getElementById("b1").innerHTML="please fill your email or phone number"
             status = 0
            }
            else{
                document.getElementById("b1").innerHTML=""

            }

            if(password == ''){
               document.getElementById("b2").innerHTML="please fill your password"
                status = 0
            }
            else{
                document.getElementById("b2").innerHTML=""
            }
            if (status == 0){
return false
}
        }
    </script>
</body>

</html>