{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="body_div">
    <div id="firstdiv">
      <p id="logoname">House Broker</p>
    </div>
    <div id="seconddiv">
      <form id="signupform" action="">
        <h3 class="text-design">Email Address or phone number</h3><br>
        <input class="email" type="text">
        <br><br><br>
        <h3 style="color: white;">password</h3>
        <input class="email" type="password"><br>
        <input id="button" type="button" value="sign In">


        
      </form>
    </div>
 
  </div>
</body>



</html>