{% extends 'users/master.html' %}
{% load static %}
{% block add %}
<div id="rg-bg" class="row">
<div class="col-md-4">
    <h3 id="rg-text">Grow your bussiness with us</h3>
</div>
<!-- // -->
<div id="rg-form" class="col-md-8">
    <div class="container">
      <form action="">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <input type="text" class="form-control " placeholder="Last name">
          </div>
         
        </div>
        <br>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="user name">
          </div>
          <div class="col">
            <input type="text" class="form-control " placeholder="phone number">
          </div>
         
        </div>
     <br>
        <!-- <div class="col"> -->
          <!-- <input type="text" class="form-control col-md-6" placeholder="phone number"> -->
        <!-- </div> -->
        <!-- <br> -->
        <!-- <div class="col"> -->
          <input type="text" class="form-control col-md-12" placeholder="email address">
        <!-- </div> -->
        <br>
     
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="password">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="confirm password">
        </div>
        </div>
  <br>
  <button type="button" class="btn btn-secondary btn-lg btn-block">CONTINUE</button>
  </form>
</div>
</div>
  
  </div>

            {% endblock %}
 